@font-face {
    font-family: "DinaChaumont-TextRegular";
    src: url(DinaChaumont-TextRegular.woff2) format("woff2");
}

@font-face {
    font-family: "DinaChaumont-DisplayBold";
    src: url(DinaChaumont-DisplayBold.woff2) format("woff2");
}

@font-face {
    font-family: "DinaChaumont-DisplayRegular";
    src: url(DinaChaumont-DisplayRegular.woff2) format("woff2");
}

@media (min-width: 256px) {
    .grid{
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;
        justify-content: center;
        margin: 30px;
    }
}

@media (min-width: 512px) {
    .grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
        justify-content: center;
        margin: 30px;
    }
}

@media (min-width: 800px) {
    .grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
        justify-content: center;
        margin: 30px;
    }
}

@media (min-width: 1024px) {
    .grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 30px;
        justify-content: center;
        margin: 30px;
    }
}

.header{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.header a{
    text-decoration: none;
    color: currentColor;
}

.footer{
    margin-top:0px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 15px;
}

body{
    font-family: "DinaChaumont-TextRegular", sans-serif;
    color: black;
    /*background: #000 url(vdeambulation.avif) no-repeat;
    background-size: cover;*/
    margin: 0;
}

/*.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    justify-content: center;
}*/

.item{
    display: inline-grid;
    place-items: center;
    text-decoration: none;
    color: currentColor;
    font-size: 35px;
    font-family: "DinaChaumont-DisplayRegular", sans-serif;
}

.item .desc{
    grid-column: 1/-1;
    grid-row: 1/-1;
    text-align: center;
}

.item img{
    width: 100%;
    height: 100%;
    grid-column: 1/-1;
    grid-row: 1/-1;
    /*transition: opacity 0.3s;*/
    opacity: 0;
}

.item:hover img{
    opacity: 1;
}

.propos{
    margin: 30px;
    text-decoration: none;
    color: currentColor;
}

.cv span{
    text-decoration: none;
    color: currentColor;
}

.cv:hover span{
    color:#68912e;
}
