@font-face {
    font-family: "DinaChaumont";
    src: url(DinaChaumont-TextRegular.woff2);
}

*{
    box-sizing: border-box;
}

body{
    background: rgb(255, 255, 255);
    /*font-family: dina chaumont;*/
    color:#679000;
    line-height: 1.5;
    font-family: "DinaChaumont", sans-serif;
    font-optical-sizing: auto;
}

h1{
    margin: 0;
}

img{
    max-width: 100%;
    height: auto;
    display: block;
}

p{
    max-width: 400px;
}

.chroniques{
    background: rgb(255, 255, 255);
}

.projet h1{
    font-size: 20px;
}

/*
page projet
*/

.header{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
}

.header a{
    text-decoration: none;
    color: currentColor;
}

.nav{
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    justify-content: center;
    gap: 15px;
}

.nav a{
    text-decoration: none;
    color: currentColor;
    /*font-size: 48px;*/
    background: #6790005d;
}

.nav a span{
    display: block;
    padding: 15px;
}